html, body {
    font-family: Helvetica;
    font-size: 100%;
    color:#5b5b5b;
    background-color:#F5F8FA;
    width:500px;
}

h1 {
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color:#5b5b5b;
}

div {
    color:#5b5b5b;
}

#mainbody,#title {
    width:482px;
    background:#fff;
    display:block;
    border-radius: 5px;
    border: 1px solid #D0D3D5;
    vertical-align:top;
	text-align:center;
}

#title img {
    margin-top:5px;
}

#bar {
    float:left;
    width:482px;
}

#bar > input[type=text]{
    font-family: Helvetica;
    background:#fff;
    border-radius:3px;
    border: 1px solid #D0D3D5;
    margin-top:5px;
    margin-bottom:5px;
    padding:7px;
    width:76%;
}

#bar > input[type=button] {
    font-family: Helvetica;
    float:right;
    width:20%;
    background:#55ACED;
    padding:7px;
    border-radius:3px;
    border:none;
    text-decoration:none;
    margin-top:5px;
    margin-bottom:5px;
    color:#fff;
}

#tags {
    float:left;
    width:482px;
    display:block;
    min-height:400px;
    padding-top:2px;
    padding-bottom:2px;
    font-size:13px;
    background:#fff;
    border-radius:3px;
    border:1px solid #D0D3D5;
}

#tags > span{
    display:block;
    float:left;
    color:#fff;
    background:#55ACED;
    border-radius:3px;
    padding:4px;
    margin:4px;
}

#close {
    color:#fff;
    font-size:10px;
    margin-left:5px;
    padding:2px;
    float:right;
}
	
#wrapper {
    color:#5b5b5b;
    font-size:10px;
}

#clearall {
	width:482px;
    margin-top:5px;
    margin-bottom:5px;
}
